.footer{
    height: 13rem;
    margin-top: 1.5rem;
    width: 100%;
    color:darkgrey;
    display: grid;
    place-content: center;

    &__list{
      margin: 0 auto;
    }
&__img{
    width: 2rem;
    height: 2rem;
    margin-top: 3rem;
    margin-right: 1.2rem;
  
}
&__text{
    text-align: center;
    padding: 2rem;
}
     
}
