.navigation{
    &__burger{
        display: none;
        position: relative;
        margin-top: 2rem;
    }
    &__check{
        position: absolute;
        display: block;
        width: 55px;
        height: 45px;
        margin-right: 6rem;
        margin-left: 1.7rem;
        
    }
    &__burger--fill{
        width: 35px;
        height: 2.5px;
        background-color: black;
        margin-left: 2rem;
        border-radius: 25px;
        &:not(:last-child){
            margin-bottom: 6px;

        }
    }
}

.navigation__burger input:checked ~ .navigation__burger--fill{
    transform: rotate(45deg);
    top:80px;
    bottom: 0;

}
.navigation__burger input:checked ~ .navigation__burger--fill:nth-child(3){
    opacity: 0;
    display: none;
}
.navigation__burger input:checked ~ .navigation__burger--fill:nth-child(2){
    transform: rotate(-45deg);
    top:50px;
}

.navigation__burger input:not(:checked) ~ .nav__list--hamburger{
    display: none;

}

.nav__list--hamburger{
    list-style: none;
    z-index: 1;
    width: 4rem;
    margin-bottom: 10px;
    background-color: rgb(144, 183, 255);
    
}
.nav{
    height: 4.5rem;
    
    &__list, &__left{
        float: right;
        list-style: none;
        margin-top: 1.5rem;
        color: black;
    

        &:nth-child(2) {
            margin-right: 3rem;
          }
    
        &--link, &--leftlist{
            display: block;
            text-decoration: none;
            backface-visibility: hidden;
            margin-left: 2.3rem;
            color: rgb(255, 255, 255);   
            padding-left: 0.3rem;
            padding-right: 0.3rem;

            &:not(.nav__left--leftlist):hover{
                text-decoration: underline;
                transition: all 1s;
            }     
        }
         &--leftlist{
           color: rgb(255, 255, 255);
           font-size: 1.4rem;

                }
    }
        &__left{
            float: left;
    }
}



.navigation2{
    display: none;
    
    &__checkbox{
        //hide the chekbox
        display: none;

    }

    &__button{
        //cover the blue button behinf this
        background-color: rgb(48, 48, 48);

        height: 4rem;
        width: 4rem;
        border-radius: 15px;
        position: absolute;
        top: -1rem;
        right: 2rem;
        z-index: 2000;
        text-align: center;
        cursor: pointer;


    }

    &__background{
        height: 5rem;
        width: 6rem;
        position: absolute;
        top: -1rem;
        right: 2.5rem;
        z-index: 1000;
        background-color: rgb(48, 48, 48);

        //transform: scale(80);
        transition: transform .2s cubic-bezier(0, 0.55, 0.45, 1);

    }

    &__nav{
        height: 100vh;
        width: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        transition: opacity width .8s;

    }

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;

    }

    &__item{
        margin:1rem;

    }

    &__link{
        &:link,
        &:visited{
        padding: 1rem 2rem;
        font-size: 2rem;
        font-weight: 300;
        color: white;
        text-decoration: none;
        background-size: 220%;
        display: inline-block;
    }
        
        &:hover,
        &:active{
            background-position: 100%;
            color: rgb(151, 182, 228);
            text-decoration: underline;
        }
        
    }
}




.nav__left{
    position: absolute;
    
}

.nav__list{
    @media (max-width: 600px){
        position: relative;
        top: 5rem;
        margin: 0 auto;
        padding: 0.2rem;
        
        
    }

}
.nav__list--link{
    @media (max-width: 600px){
        color: rgb(48, 48, 48);
        background-color: rgb(216, 216, 216);
        padding: 0.4rem;
        border-radius: 5px;
        margin-bottom: 1.3rem;


}
}