*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    animation-name: fade;
    animation-duration: .8s;
}


//Colours:
$dark-pink: #EB6863;
$light-pink:#facece;
$medium-pink: #CC6E6A;
$light-blue: #C9E8FA;
//Borders:
$projects-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$borders: 1px solid black;
