/* Formats the gallery i.e how far each car is etc*/
.gallery {
    margin: 10px;
    float: left;
    width: 420px;
    height: 620px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
}
/*When hovering over a card make the background blue*/
.gallery:hover {
    background-color: #F0F5F7;
}
button {
   background-color: #5499C7;
   border: none;
   padding: 5px 5px;
   text-align: center;
   display: inline-block;
   margin: 2px 3px;
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   color: white;
   margin-right: 30px;
   font-size: 18px;
   border-radius: 4%;
}

button:hover {
   background-color: white;
   color: #5499C7;

}
a:hover{
    color: #92B0EC;
    text-decoration: underline;
}
#HomeButton{
    color: white;
}
#Remote-Sensing-bio{
    text-align: left;
    font-size: 16px;
    width: 23em;
    color: #013E66;
}
#PrinceGeorgeMapImage {
    height: 400px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.Section {
  padding: 11px;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;

}

html {
    background-color:#F8F9FB;
    font-family: 'Roboto', sans-serif;

}

a:hover {
  color: blue ;

}

h1 {
  text-align: center;
  font-size: 45px;
  color: #5499C7;
  animation: TitleChange 10s infinite;
}
@keyframes TitleChange{
   0% {
    color: #21618C;
  }
  10% {
    color:  #5DADE2;
  }
  20% {
    color: #A9CCE3;
  }
  30% {
    color:  #3575F4;
  }
  40% {
    color: #92B0EC;
  }
  50% {
    color:  #B8DBFF;
  }
  60% {
    color: #C0D1F3;
  }
  70% {
    color:  #002CB4;
  }
  80% {
    color: #144DFF;
  }
  90% {
    color:  #85C8FF;
  }
  100% {
    color: #CFE9FF;
  }
}

#caption {
  text-align: center;
  font-size: 18px;
  color: #013E66
}

#PrinceGeorgeMapBio {
  text-align: left;
  font-size: 16px;
  width: 23em;
  color: #013E66;

}
#Vancouver-Green-Ways-BIO{
    font-size: 16px;
    text-align: left;
      color: #013E66 ;
    }
#GreenWaysIMG{
  height: 350px;

}

#VictoriaOutdoorImage {
  height: 400px;
}

#VictoriaOutdoorBio {
  text-align: left;
  font-size: 16px;
  width: 25em;
  color: #013E66 ;

}

#AnalyzingTransitDesertsImg {
  height: 350px;
}
#AnalyzingTransitDesertsBio{
  text-align: left;
  font-size: 16px;
  width: 25em;
  color: #013E66 ;

}
@media screen and (max-width: 600px) {
  .gallery {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

