div.container {
   position: relative;
   margin: auto;
   width: 50%;
   padding: 15px;
}

#Header-Links {
   margin-right: auto;
}

button {
   background-color: #5499C7;
   border: none;
   padding: 5px 5px;
   text-align: center;
   display: inline-block;
   margin: 2px 3px;
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   color: white;
   margin-right: 30px;
   font-size: 18px;
   border-radius: 4%;
}

button:hover {
   background-color: white;
   color: #5499C7;
}

#Quicklinks {
   text-align: center;
}

i {
   font-family: 'Roboto', sans-serif;
}

#GISlink {
   color: #2874A6
}

#ProjectsLink {
   color: #2874A6;
}

#ArtLink {
   color: #2874A6;
}

#CreativeLink {
   color: #2874A6;
}

#D3LINK {
   color: #2874A6;
}

#GISlink:hover {
   color: #AED6F1;
   text-decoration: underline;
}

#ProjectsLink:hover {
   color: #AED6F1;
   text-decoration: underline;
}

#ArtLink:hover {
   color: #AED6F1;
   text-decoration: underline;
}

#CreativeLink:hover {
   color: #AED6F1;
   text-decoration: underline;
}

#D3LINK:hover {
   color: #AED6F1;
   text-decoration: underline;
}

h1 {
   font-family: 'Roboto', sans-serif;
   color: #5499C7;
   font-size: 30px;
}

p {
   font-family: 'Roboto', sans-serif;
   color: #2471A3;
   font-size: 18px;
   line-height: 38px;
   width: 40em;
   font-size: bold;
}

a {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   line-height: 40px;
   display: inline;
   margin-right: 30px;
   color: #2980B9;
   text-decoration: none;
}

#Title {
   font-size: 60px;
   animation: color-change 15s infinite;
   font-weight: 1px;
   font-family: 'Roboto', sans-serif;
}

a:hover {
   color: #AED6F1;
}

#github {
   padding-right: 35px;
}

#CodePen {
   padding-right: 35px;
}

#Contact {
   padding-right: 35px;
}

@keyframes color-change {
   0% {
      color: #21618C;
   }
   10% {
      color: #5DADE2;
   }
   20% {
      color: #A9CCE3;
   }
   30% {
      color: #3575F4;
   }
   40% {
      color: #92B0EC;
   }
   50% {
      color: #B8DBFF;
   }
   60% {
      color: #C0D1F3;
   }
   70% {
      color: #002CB4;
   }
   80% {
      color: #144DFF;
   }
   90% {
      color: #85C8FF;
   }
   100% {
      color: #CFE9FF;
   }
}

html {
   background-color: #F8F9FB;
   overflow: hidden;
   /*---iPhones-------------------------------------*/
}

@media screen and (max-width: 667px) {
   #Header-Links {
      display: auto;
      width: 40em;
   }
}

@media screen and (max-width: 600px) {
   p {
      width: 24em;
      font-size: 10px;
      line-height: 25px;
   }
}

@media screen and (max-width: 600px) {
   #Quicklinks {
      display: inline-block;
   }
}

@media screen and (max-width: 600px) {
   html {
      overflow: hidden;
   }
}

@media screen and (max-width: 600px) {
   h1 {
      font-size: 15px;
   }
}

@media screen and (max-width: 600px) {
   #Title {
      font-size: 23px;
      width: 40em;
   }
}

@media screen and (max-width: 600px) {
   a {
      width: 150em;
      font-size: 6px;
      line-height: 15px;
      display: inline;
      margin-right: 15px;
   }
}

@media screen and (max-width: 600px) {
   div.container {
      overflow: hidden;
      position: relative;
      margin: -20px;
      width: 50%;
      padding: 80px;
   }
}

@media screen and (max-width: 600px) {
   button {
      padding: 2px 2px;
      font-size: 10px;
      margin: 10px 5px;
   }
}