   iframe {
   height: 400px;
   width: 400px;
   margin: 10px 10px;
}

img {
   height: 400px;
   width: 400px;
   margin: 2px 2px;
}

img:hover {
   opacity: 0.5;
}

button {
   background-color: #5499C7;
   border: none;
   padding: 5px 5px;
   text-align: center;
   display: inline-block;
   margin: 2px 3px;
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   color: white;
   margin-right: 30px;
   font-size: 18px;
   border-radius: 4%;
}

button:hover {
   background-color: white;
   color: #5499C7;
}

html {
   background-color: #F8F9FB;
   font-family: 'Roboto', sans-serif;
}

#Title {
   text-align: center;
   color: #21618C;
   font-size: 40px;
}

p {
   font-family: 'Roboto', sans-serif;
   width: 55em;
   color: #21618C;
   font-size: 14px;
   margin-left: auto;
   margin-right: auto;
}

.sketches {
   text-align: center;
   width: 100%;
}

a {
   padding-left: 20px;
   color: blue;
   padding-top: 40px;
}

 