div.gallery {
  margin: 40px;
  float: left;
  width: 380px;
  height: 500px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 1%;
}

div.gallery:hover {
  opacity: 0.5;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
}
html{
	font-family: arial;
}
a{ text-decoration: none;
	color: #943126;
 }
 html{
 	  font-family: 'Sorts Mill Goudy', serif;

 }
 a:hover{
 	text-decoration: underline;
 	color: blue;

 }