/*
  Posts
*/

.posts-container {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
    border: 1px solid #9E9E9E;
  margin-bottom: 25px;
  
}

.thumbnail-container img{
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: $sans-serif-font-family;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  border: 1px solid #225FC5;
  padding: 10px 40px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: #225FC5;
  background-color:  #ACCDFB;
  
}

.pagination-active {
  
            
                    background-color: rgb(249, 251, 250);
                    border: 1px solid rgb(137, 151, 155);
                    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
                    color: rgb(61, 79, 88);
                    font-size: 14px;
                    font-weight: 400;
                    height: 36px;
                    transition: all 150ms ease-in-out 0s;
                    
                
  
}

.pagination-active:hover {
  color: rgb(61, 79, 88);
                        background-color: rgb(255, 255, 255);
                        border: 1px solid rgb(93, 108, 116);
                        box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
                    
  
}
