div.gallery {
  margin: 50px;
  float: left;
  width: 500px;
  height: 750px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1%;
  margin-left: 120px;
}

div.gallery:hover {
  background-color: #F2F2F2;
}

#PrinceGeorgeMapImage {
  height: 530px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 11px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #943126;
}

html {
  font-family: 'Sorts Mill Goudy', serif;
}

a:hover {
  text-decoration: underline;
  color: #943126;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #943126;
}

hr.class {
  color: solid black 0.5px;
}

#caption {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

#PrinceGeorgeMapBio {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  width: 25em;
}

#VictoriaOutdoorImage {
  height: 500px;
}

#VictoriaOutdoorBio {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  width: 25em;
}

#AnalyzingTransitDesertsImg {
  height: 450px;
}

@media screen and (max-width: 600px) {
  div.gallery {
    width: 450px;
    height: 550px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  #PrinceGeorgeMapImage {
    height: 360px;
  }
}

@media screen and (max-width: 600px) {
  #PrinceGeorgeMapImage {
    height: 360px;
  }
}

@media screen and (max-width: 600px) {
  #GreenWaysIMG,
  #VictoriaOutdoorImage {
    height: 260px;
  }
}